 <!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} :: elliotwils0n</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="wrapper">
            {% include navbar.html %}
            <div id="content">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
